*{
	margin: 0;
	padding: 0;
}
body{
	padding: 100px;
}
p{
	position: fixed;
	left: 100px;
	top: 50px;
}
.box{
	border: 1px solid #909;
	width: 500px;
	height: 500px;
	position: relative;
}
.create-box{
	cursor:crosshair
}
.new-box{
	position: absolute;
	border: 1px solid #27de60;
	background-color: rgba(0,240,3,.3);
}